= content_for :sub_menu do
  %ul
    = tab :help, :match_path => '/help', :translation_key => 'views.help.help'
    = tab :in_case_of_problems, :match_path => '/in_case_of_problems', :translation_key => 'views.help.in_case_of_problems'
    = tab :about_cookies, :match_path => '/about_cookies', :translation_key => 'views.help.about_cookies'
    = tab :about, :match_path => '/about', :translation_key => 'views.help.about', :css_class => 'last'
  %br.clear
