%h1= t 'views.spexare.page_title', :action => current_action

- content_for :sidebar do
  %ul.sidebar
    %li{:class => ("active" if current_tab == "spexare_tab")}
      = link_to t('views.spexare.description_tab_title'), (edit_mode ? edit_spexare_url(@spexare) : spexare_url(@spexare))
    %li{:class => ("active" if current_tab == "activities_tab")}
      = link_to t('views.activity.description_tab_title'), (edit_mode ? edit_activity_url(@spexare) : activity_url(@spexare))
    %li{:class => ("active" if current_tab == "memberships_tab")}
      = link_to t('views.membership.description_tab_title'), (edit_mode ? edit_membership_url(@spexare) : membership_url(@spexare))
    %li{:class => ("active" if current_tab == "cohabitants_tab")}
      = link_to t('views.cohabitant.description_tab_title'), (edit_mode ? edit_cohabitant_url(@spexare) : cohabitant_url(@spexare))
