%h1= t 'views.spexare.page_title', :action => current_action

- content_for :sidebar do
  %ul.sidebar
    %li{:class => ("active" if current_tab == "spexare_tab")}
      = link_to t('views.spexare.description_tab_title'), (edit_mode ? edit_spexare_url(@spexare) : spexare_url(@spexare))
    %li{:class => ("active" if current_tab == "activities_tab")}
      = link_to t('views.activity.description_tab_title'), spexare_activities_url(@spexare)
    %li{:class => ("active" if current_tab == "fgv_memberships_tab")}
      = link_to t('views.membership.fgv_description_tab_title'), spexare_memberships_url(@spexare, :by_kind => Membership.kind(:fgv).id, :kind_name => Membership.kind(:fgv).name)
    %li{:class => ("active" if current_tab == "cing_memberships_tab")}
      = link_to t('views.membership.cing_description_tab_title'), spexare_memberships_url(@spexare, :by_kind => Membership.kind(:cing).id, :kind_name => Membership.kind(:cing).name)
    %li{:class => ("active" if current_tab == "cohabitants_tab")}
      = link_to t('views.cohabitant.description_tab_title'), spexare_cohabitants_url(@spexare)
