= render :partial => 'sub_menu'

%div.left
  %h1= t 'views.spexare.index_title', :action => t('views.base.listing_action')

.toolbar
  %ul.actions
    %li
      = button_link_to_remote t('views.spexare.new_spexare'), { :url => new_resource_url, :method => :get, :update => 'new-spexare' }, :icon => 'add' if current_user_is_admin?

%br.clear

#new-spexare

- if @spexare_items.empty?
  %p= t 'views.spexare.no_spexare_exist'
- else
  .number-of-hits= page_entries_info @spexare_items, { :entry_translation_group_key => 'spexare' }
  %br.clear
  %table.index#spexare
    %tr
      %th= order @search, :by => :last_name, :as => t('activerecord.attributes.spexare.last_name')
      %th= order @search, :by => :first_name, :as => t('activerecord.attributes.spexare.first_name')
      %th= order @search, :by => :nick_name, :as => t('activerecord.attributes.spexare.nick_name')
      %th.action-column= t 'views.base.action'
      - @spexare_items.each do |spexare|
        %tr{:id => dom_id(spexare), :class => cycle('even', 'odd')}
          %td{ :data => {:link => resource_url(spexare)} }= h spexare.last_name
          %td{ :data => {:link => resource_url(spexare)} }= h spexare.first_name
          %td{ :data => {:link => resource_url(spexare)} }= h spexare.nick_name
          %td.actions
            = link_to_view_action spexare
            = link_to_edit_action spexare if current_user_is_admin? || (!current_user.spexare.nil? && current_user.spexare.id == spexare.id)
            = link_to_delete_action spexare, { :table => 'spexare' } if current_user_is_admin?

= will_paginate(@spexare_items, :previous_label => "&#171; #{t('views.base.previous')}", :next_label => "#{t('views.base.next')} &#187;")           
= render :partial => '/shared/per_page', :locals => { :size => @spexare_items.total_entries }

%br.clear

= content_for :sidebar do 
  - form_for @search do |f|
    .box
      %h3= t 'views.base.search'
      %p
        %label= t 'activerecord.attributes.spexare.last_name'
        %br>
        = f.text_field :last_name_contains, :size => 15
      %p
        %label= t 'activerecord.attributes.spexare.first_name'
        %br>
        = f.text_field :first_name_contains, :size => 15
      %p
        %label= t 'activerecord.attributes.spexare.nick_name'
        %br>
        = f.text_field :nick_name_contains, :size => 15
      %p.form-buttons
        = button t('views.base.search')
