= render :partial => 'administration/sub_menu'

= render :partial => 'spexare_tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :current_tab => 'spexare_tab'}

%table.index
  %tr
    %th= t 'activerecord.attributes.spexare.last_name'
  %tr
    %td= h @spexare.last_name

= render :partial => '/shared/entity_details', :locals => {:entity => @spexare}
