= render :partial => 'sub_menu'

#edit-memberships

  = render :partial => 'tabs', :locals => {:edit_mode => true, :current_action => t('views.base.editing_action'), :description => @spexare.full_name, :current_tab => "#{params[:kind_name]}_memberships_tab"}

  - if @memberships.empty?
    %p= t 'views.membership.no_associated_memberships', :kind => params[:kind_name].upcase
  - else
    .number-of-hits= page_entries_info @memberships, { :entry_translation_group_key => 'membership' }
    %br.clear
    %table.index
      %tr
        %th= t 'activerecord.attributes.membership.year'
        %th.action-column= t 'views.base.action'
        - @memberships.each do |membership|
          %tr{:id => dom_id(membership), :class => cycle('even', 'odd')}
            %td= h membership.year
            %td.actions
              = link_to_remote icon_tag('remove') + ' ' + t('views.base.remove_action'), { :url => spexare_membership_url(@spexare, membership, :by_kind => params[:by_kind], :kind_name => params[:kind_name]), :method => :delete, :before => '', :update => 'edit-memberships' }

    = will_paginate(:previous_label => "&#171; #{t('views.base.previous')}", :next_label => "#{t('views.base.next')} &#187;", :params => { :by_kind => params[:by_kind], :kind_name => params[:kind_name] })           

    %br.clear

  #add-membership

  %span
    = link_to_remote icon_tag('add') + ' ' + t('views.membership.add_membership', :kind => params[:kind_name].upcase), { :url => new_spexare_membership_url(@spexare, :by_kind => params[:by_kind], :kind_name => params[:kind_name]), :method => :get, :update => 'add-membership' }

  = render :partial => '/shared/back_links', :locals => { :url => previous_page, :cancel_action => true }
