#forgotmypassword
  %h1
    = t 'views.password_reset.forgot_my_password'
  %p
    = t 'views.password_reset.instructions'
  - form_tag password_resets_path do
    %p
      = label_tag :username, t('activerecord.attributes.user.username')
      %br>
      = text_field_tag :username, nil, :class => 'title'
    %p
      = submit_tag t('views.password_reset.reset_my_password'), :class => 'button primary'
