<div id="functionDialog">
  <table>
    <tr>
      <td>
        <label for="function_name"><%= t 'activerecord.attributes.function.name' %></label>
      </td>
      <td>
      	<%= form.text_field :name, :tabindex => 1, :maxlength => 50 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="function_function_category_id"><%= t 'activerecord.models.function_category' %></label>
      </td>
      <td>
        <%= form.select :function_category_id, get_function_categories, :tabindex => 2 %>
      </td>
    </tr>
    <% if action == 'edit' %>
      <%= render :partial => '/shared/entity_details', :locals => { :entity => @function } %>
      <tr>
        <td>
          <%= submit_tag(t 'views.base.action_edit', :tabindex => 3, :class => 'button') %>
          <input type="button" value="<%= t 'views.base.action_back' %>" class="button" tabindex="4" onclick="javascript:history.go(-1);"/>
          <input type="reset" value="<%= t 'views.base.action_reset' %>" class="button" tabindex="5"/>
        </td>
      </tr>
    <% else %>
      <tr>
        <td>
          <%= submit_tag(t 'views.base.action_create', :tabindex => 3, :class => 'button') %>
          <input type="reset" value="<%= t 'views.base.action_reset' %>" tabindex="4"/>
        </td>
      </tr>
    <% end %>
  </table>

<script>$("function_name").focus();</script>

</div>

