<%= render :partial => 'shared/error' %>
<%= render :partial => 'shared/message' %>

<div id="functionListDialog">
  <% if !@functions.empty? %>
    <table>
      <th><%= t 'activerecord.attributes.function.name' %></th>
      <th><%= t 'activerecord.attributes.function_category.name' %></th>

      <% @functions.each do |function| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td>
            <%= h function.name %>
          </td>
          <td>
            <%= h function.function_category.name %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <table>
      <tr>
        <td>
          <%= t 'views.function.no_functions_exist' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
