= render :partial => 'administration/sub_menu'

- form_for :function, :url => collection_url do |f|
  %fieldset
    %legend= t 'views.function.new_function'
    - f.field_container :name do
      = f.label :name, t('activerecord.attributes.function.name')
      %span.required= t 'views.base.mandatory_attribute'
      %br>
      = f.error_message_on :name
      = f.text_field :name, :class => 'fullwidth'
    - f.field_container :function_category do
      = f.label :name, t('activerecord.attributes.function.function_category')
      %span.required= t 'views.base.mandatory_attribute'
      %br>
      = f.error_message_on :function_category
      = f.select :function_category_id, get_available_function_categories
    = render :partial => '/shared/new_resource_links'
