<div id="functionDialog">
  <table>
    <tr>
      <td>
        <%= t 'activerecord.attributes.function.name' %>
      </td>
      <td>
        <%= h @function.name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t 'activerecord.attributes.function_category.name' %>
      </td>
      <td>
        <%= h @function.function_category.name %>
      </td>
    </tr>
    <%= render :partial => '/shared/entity_details', :locals => { :entity => @function } %>
  </table>
</div>
