= render :partial => 'administration/sub_menu'

%h1= t 'views.function.page_title', :action => t('views.base.viewing_action')

%table.show
  %tr
    %th= t 'activerecord.attributes.function.name'
  %tr
    %td= h @function.name

%table.show
  %tr
    %th= t 'activerecord.attributes.function.function_category'
  %tr
    %td= h @function.function_category.name

= render :partial => '/shared/entity_details', :locals => {:entity => @function}
