= render :partial => 'sub_menu'

%h1= t('views.function.page_title_html', :action => t('views.base.viewing_action'), :description => @function.name) + ' ' + link_to(icon_tag('edit'), edit_resource_url(@function))

%table.show
  %tr
    %th= t 'activerecord.attributes.function.name'
  %tr
    %td= h @function.name

%table.show
  %tr
    %th= t 'activerecord.attributes.function.function_category'
  %tr
    %td= h @function.function_category.name

= render :partial => '/shared/entity_details', :locals => {:entity => @function}
= render :partial => '/shared/back_links', :locals => { :url => filter_url_if_not_compatible_with(previous_page, collection_url) }
