= render :partial => 'sub_menu'

%div.left
  %h1= t 'views.search.index_title'

.toolbar
  %ul.actions
    %li
      = link_to icon_tag('reset') + ' ' + t('views.search.reset_search_result'), search_url('dummy'), :method => :delete, :class => 'button'

= render :partial => '/shared/export_menu', :locals => { :reports => get_available_reports, :entity_ids => @search_result.map(&:id) }

%br.clear

- if @search_result.empty?
  %p= t 'views.search.empty_search_result'
- else
  .number-of-hits= page_entries_info @search_result, { :entry_translation_group_key => 'spexare' }
  %table.index#search_result
    %tr
      %th= order @search, :by => :last_name, :as => t('activerecord.attributes.spexare.last_name')
      %th= order @search, :by => :first_name, :as => t('activerecord.attributes.spexare.first_name')
      %th= order @search, :by => :nick_name, :as => t('activerecord.attributes.spexare.nick_name')
      %th.action-column= t 'views.base.action'
      - @search_result.each do |spexare|
        %tr{:id => dom_id(spexare), :class => cycle('even', 'odd')}
          %td= h spexare.last_name
          %td= h spexare.first_name
          %td= h spexare.nick_name
          %td.actions
            = link_to_view_action spexare
            = link_to_edit_action spexare if current_user_is_admin? || (!current_user.spexare.nil? && current_user.spexare.id == spexare.id)
            = link_to_delete_action spexare, { :table => 'search_result' } if current_user_is_admin?

= will_paginate(@search_result, :previous_label => "&#171; #{t('views.base.previous')}", :next_label => "#{t('views.base.next')} &#187;")           
