= content_for :sub_menu do
  %ul
    = tab :administration, :match_path => '/administration', :translation_key => 'views.administration.dashboard'
    = tab :users, :match_path => '/users', :translation_key => 'views.administration.users'
    = tab :functions, :match_path => '/functions', :translation_key => 'views.administration.functions'
    = tab :function_categories, :match_path => '/function_categories', :translation_key => 'views.administration.function_categories'
    = tab :news_index, :match_path => '/news', :translation_key => 'views.administration.news'
    = tab :spex_index, :match_path => '/spex', :translation_key => 'views.administration.spex'
    = tab :spex_categories, :match_path => '/spex_categories', :translation_key => 'views.administration.spex_categories'
    = tab :administration_help, :match_path => '/administration_help', :translation_key => 'views.administration.administration_help'
  %br.clear
