= content_for :sub_menu do
  %ul
    = tab :users, :translation_key => 'views.administration.users'
    = tab :functions, :translation_key => 'views.administration.functions'
    = tab :news_index, :translation_key => 'views.administration.news'
    = tab :spex_index, :translation_key => 'views.administration.spex'
    = tab :spexare_index, :translation_key => 'views.administration.spexare', :css_class => 'last'
    
