= render :partial => 'sub_menu'

%h1= t 'views.administration.dashboard'

= render :partial => 'tabs', :locals => {:report_title => t("views.dashboard_report.#{params[:report]}.title"), :current_tab => "#{params[:report]}_tab"}

:javascript
  jQuery(document).ready(function(){
    #{remote_function :url => dashboard_reports_url(:report => params[:report], :format => :js), :method => :post, :before => '', :complete => evaluate_remote_response()}
  });

%div#flot-legend

%div#flot-graph
