= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :description => @spexare.full_name, :current_tab => 'relationship_tab'}

- if !@spexare.spouse
  %p= t 'views.relationship.no_associated_relationship'
- else
  %table.index
    %tr
      %th= t 'activerecord.attributes.spexare.last_name'
      %th= t 'activerecord.attributes.spexare.first_name'
      %th= t 'activerecord.attributes.spexare.nick_name'
      %th.action-column= t 'views.base.action'
    %tr
      %td= h @spexare.spouse.last_name
      %td= h @spexare.spouse.first_name
      %td= h @spexare.spouse.nick_name
      %td.actions
        = link_to_with_icon 'view', t('views.base.view_action'), spexare_url(@spexare.spouse)

= render :partial => '/shared/back_links', :locals => { :url => previous_page }
