%div
  - f.field_container :username do
    = f.label :username, t('activerecord.attributes.user.username')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :username
    = f.text_field :username, :class => 'fullwidth'
  - f.field_container :password do
    = f.label :password, t('activerecord.attributes.user.password')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :password
    = f.password_field :password, :class => 'fullwidth'
  - f.field_container :password_confirmation do
    = f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :password_confirmation
    = f.password_field :password_confirmation, :class => 'fullwidth'
  - f.field_container :spexare do
    = f.label :spexare, t('activerecord.models.spexare')
    %br>
    %small= t 'views.user.spexare_notice'
    %br>
    = f.error_message_on :spexare
    = f.text_field_with_auto_complete :spexare, :class => 'fullwidth'
  - f.field_container :user_groups do
    = f.label :user_groups, t('activerecord.attributes.user.user_groups')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :user_groups
    = f.collection_select :user_group_ids, UserGroup.all, :id, :translated_name, {}, { :multiple => true, :name => 'user[user_group_ids][]' }
      