= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :description => @user.username, :current_tab => 'user_tab'}

%table.show
  %tr
    %th= t 'activerecord.attributes.user.username'
  %tr
    %td= h @user.username

%table.show
  %tr
    %th= t 'activerecord.attributes.user.state'
  %tr
    %td= h translate_user_state(@user.state)

%table.show
  %tr
    %th= t 'activerecord.models.spexare'
  %tr
  - if !@user.spexare.nil?
    %td= h @user.spexare.full_name
  - else
    %td= t 'views.base.missing_text'

%table.show
  %tr
    %th= t 'activerecord.attributes.user.login_count'
  %tr
    %td= print_text @user.login_count

%table.show
  %tr
    %th= t 'activerecord.attributes.user.failed_login_count'
  %tr
    %td= print_text @user.failed_login_count

%table.show
  %tr
    %th= t 'activerecord.attributes.user.last_request_at'
  %tr
    %td= print_text @user.last_request_at

%table.show
  %tr
    %th= t 'activerecord.attributes.user.current_login_at'
  %tr
    %td= print_text @user.current_login_at

%table.show
  %tr
    %th= t 'activerecord.attributes.user.last_login_at'
  %tr
    %td= print_text @user.last_login_at

%table.show
  %tr
    %th= t 'activerecord.attributes.user.current_login_ip'
  %tr
    %td= print_text @user.current_login_ip

%table.show
  %tr
    %th= t 'activerecord.attributes.user.last_login_ip'
  %tr
    %td= print_text @user.last_login_ip

= render :partial => '/shared/entity_details', :locals => {:entity => @user}
= render :partial => '/shared/back_links', :locals => { :url => filter_url_if_not_compatible_with(previous_page, collection_url) }
