= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :description => @user.username, :current_tab => 'user_tab'}

%table.index
  %tr
    %th= t 'activerecord.attributes.user.username'
  %tr
    %td= h @user.username

%table.index
  %tr
    %th= t 'activerecord.attributes.user.state'
  %tr
    %td= h translate_user_state(@user.state)

%table.index
  %tr
    %th= t 'activerecord.attributes.user.login_count'
  %tr
    %td= h @user.login_count

%table.index
  %tr
    %th= t 'activerecord.attributes.user.failed_login_count'
  %tr
    %td= h @user.failed_login_count

%table.index
  %tr
    %th= t 'activerecord.attributes.user.last_request_at'
  %tr
    %td= h @user.last_request_at

%table.index
  %tr
    %th= t 'activerecord.attributes.user.current_login_at'
  %tr
    %td= h @user.current_login_at

%table.index
  %tr
    %th= t 'activerecord.attributes.user.last_login_at'
  %tr
    %td= h @user.last_login_at

%table.index
  %tr
    %th= t 'activerecord.attributes.user.current_login_ip'
  %tr
    %td= h @user.current_login_ip

%table.index
  %tr
    %th= t 'activerecord.attributes.user.last_login_ip'
  %tr
    %td= h @user.last_login_ip

= render :partial => '/shared/entity_details', :locals => {:entity => @user}
= render :partial => '/shared/show_resource_links', :locals => { :url => filter_url_if_not_compatible_with(previous_page, collection_url) }
