- url = nil if local_assigns[:url].nil? 
- cancel_action = false if local_assigns[:cancel_action].nil? 

%p.form-buttons
  - if cancel_action
    = link_to t('views.base.cancel_action'), (url.nil? ? collection_url : url)
  - else
    = link_to t('views.base.back_action'), (url.nil? ? collection_url : url)
  - if show_search_result_back_links?
    - if latest_search_query_exists?
      %br>
      = link_to t('views.base.back_to_search_result_action'), latest_search_query
    - if latest_tag_search_query_exists?
      %br>
      = link_to t('views.base.back_to_tag_search_result_action'), latest_tag_search_query
    - if latest_advanced_search_query_exists?
      %br>
      = link_to t('views.base.back_to_advanced_search_result_action'), latest_advanced_search_query
