- if current_user_is_admin?
  %table.show
    %tr
      %th{:colspan => 2}= t 'views.base.internal_details'
    %tr
      %td= t 'views.base.id'
      %td= h entity[:id]
    %tr
      %td= t 'views.base.created_at'
      %td= h entity[:created_at].to_formatted_s(:long_format)
    %tr
      %td= t 'views.base.created_by'
      %td= h get_username_by_id(entity[:created_by])
    %tr
      %td= t 'views.base.updated_at'
      %td= h entity[:updated_at].to_formatted_s(:long_format)
    %tr
      %td= t 'views.base.updated_by'
      %td= h get_username_by_id(entity[:updated_by])
