- if current_user
  #menu
    %ul
      = tab :home, :change_password, :change_profile
      = tab :search, :simple_search, :advanced_search
      = tab :administration, :users, :functions, :news_index, :spex_index, :spexare_index
      = tab :help, :in_case_of_problems, :about
  #sub-menu
    = yield :sub_menu
