- if current_user
  #menu
    %ul
      = tab :home, :accounts, :change_profile
      = tab :search, :search, :advanced_search, { :route => 'new_search' }
      = tab :administration, :users, :functions, :function_categories, :news, :spex, :spex_categories, :spexare, :activities, :memberships, :relationships
      = tab :help, :in_case_of_problems, :about
  #sub-menu
    = yield :sub_menu
