- if current_user
  #menu
    %ul
      = tab :home, :accounts, :profiles, :spexare, :activities, :memberships, :relationships
      = tab :search, :search, :latest_search_result, :advanced_search, :latest_advanced_search_result, { :route => 'new_search' }
      = tab :administration, :administration_help, :users, :functions, :function_categories, :news, :spex, :spex_categories
      = tab :help, :in_case_of_problems, :about
    %br.clear
  #sub-menu
    = yield :sub_menu
