= content_for :sub_menu do
  %ul
    = tab :latest_news, :route => 'home', :match_path => '/home', :translation_key => 'views.home.latest_news'
    - if !current_user_is_admin? && !current_user.spexare.nil?
      = tab :spexare_index, :match_path => '/spexare', :not_match_path => "/spexare/#{current_user.spexare.id}", :translation_key => 'views.home.view_profiles'
      = tab :change_my_profile, :route => 'edit_profile', :match_path => "/spexare/#{current_user.spexare.id}", :translation_key => 'views.home.change_my_profile'
    - if current_user_is_admin? && !current_user.spexare.nil?
      = tab :spexare_index, :match_path => '/spexare', :not_match_path => "/spexare/#{current_user.spexare.id}", :translation_key => 'views.home.manage_profiles'
      = tab :change_my_profile, :route => 'edit_profile', :match_path => "/spexare/#{current_user.spexare.id}", :translation_key => 'views.home.change_my_profile'
    - elsif current_user_is_admin?
      = tab :spexare_index, :match_path => '/spexare', :translation_key => 'views.home.manage_profiles'
    = tab :edit_account, :match_path => '/account/edit', :translation_key => 'views.home.change_my_account', :css_class => 'last' 
  %br.clear
    