<%= render :partial => 'shared/error' %>
<%= render :partial => 'shared/message' %>

<div id="newsListDialog">
  <% if !@news.empty? %>
    <table>
      <th><%= t 'activerecord.attributes.news.publication_date' %></th>
      <th><%= t 'activerecord.attributes.news.subject' %></th>

      <% !@news.each do |news| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td>
            <%= h news.publication_date %>
          </td>
          <td>
            <%= h news.subject %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <table>
      <tr>
        <td>
          <%= t 'views.news.no_news_exist' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
