%table.index
  %tr
    %th= t 'activerecord.attributes.news.publication_date'
  %tr
    %td= h @news.publication_date

%table.index
  %tr
    %th= t 'activerecord.attributes.news.subject'
  %tr
    %td= h @news.subject

%table.index
  %tr
    %th= t 'activerecord.attributes.news.body'
  %tr
    %td!= @news.cached_body_html
