= render :partial => 'sub_menu'

%h1= t 'views.news.page_title_html', :action => t('views.base.viewing_action'), :description => @news.publication_date

%table.index
  %tr
    %th= t 'activerecord.attributes.news.publication_date'
  %tr
    %td= h @news.publication_date

%table.index
  %tr
    %th= t 'activerecord.attributes.news.subject'
  %tr
    %td= h @news.subject

%table.index
  %tr
    %th= t 'activerecord.attributes.news.body'
  %tr
    %td!= @news.cached_body_html

%table.show
  %tr
    %th= t 'activerecord.attributes.news.is_published'
  %tr
    %td= translate_boolean @news.is_published

= render :partial => '/shared/entity_details', :locals => {:entity => @news}
= render :partial => '/shared/back_links', :locals => { :url => filter_url_if_not_compatible_with(previous_page, collection_url) }
