%div.leftWide
  %h1= t 'views.settings.page_title', :type => current_type

%br.clear

- content_for :sidebar do
  %ul.sidebar
    %li{:class => ("active" if current_tab == "general_settings_tab")}
      = link_to t('views.settings.general_settings_tab_title'), edit_settings_url(:type => 'general_settings')
    %li{:class => ("active" if current_tab == "membership_settings_tab")}
      = link_to t('views.settings.membership_settings_tab_title'), edit_settings_url(:type => 'membership_settings')
    %li{:class => ("active" if current_tab == "spex_settings_tab")}
      = link_to t('views.settings.spex_settings_tab_title'), edit_settings_url(:type => 'spex_settings')
    %li{:class => ("active" if current_tab == "report_settings_tab")}
      = link_to t('views.settings.report_settings_tab_title'), edit_settings_url(:type => 'report_settings')
