- current_tab = nil if local_assigns[:current_tab].nil? 

%div.leftWide
  %h1= t 'views.settings.page_title', :type => current_type

%br.clear

- content_for :sidebar do
  %ul.sidebar
    %li{:class => ("active" if current_tab.nil?)}
      = link_to t('views.settings.all.tab_title'), settings_url
    %li{:class => ("active" if current_tab == "general_tab")}
      = link_to t('views.settings.general.tab_title'), edit_settings_url(:type => 'general')
    %li{:class => ("active" if current_tab == "spex_categories_tab")}
      = link_to t('views.settings.spex_categories.tab_title'), edit_settings_url(:type => 'spex_categories')
    %li{:class => ("active" if current_tab == "reports_tab")}
      = link_to t('views.settings.reports.tab_title'), edit_settings_url(:type => 'reports')
