%div
  - f.field_container :year do
    = f.label :year, t('activerecord.attributes.spex.year')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :year
    = f.select :year, get_spex_years.reverse
  - f.field_container :title do
    = f.label :title, t('activerecord.attributes.spex.title')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :title
    = f.text_field :title
  - f.field_container :is_revival do
    = f.label :is_revival, t('activerecord.attributes.spex.is_revival')
    = f.error_message_on :is_revival
    = f.check_box :is_revival
  - f.field_container :spex_category do
    = f.label :spex_category, t('activerecord.attributes.spex.spex_category')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :spex_category
    = f.select :spex_category_id, get_available_spex_categories
    