%div#spex-data
  - f.field_container :spex_category do
    = f.label :spex_category, t('activerecord.attributes.spex.spex_category')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = error_message_on :spex, :spex_category
    = f.select :spex_category_id, get_available_spex_categories
    = observe_field 'spex_spex_category_id', :function => "jQuery.populateYearsFromSpexCategory(value, 'spex_year')"
  - f.field_container :year do
    = f.label :year, t('activerecord.attributes.spex.year')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = error_message_on :spex, :year
    - if f.object.nil? || f.object.new_record?
      = f.select :year, [], { :disabled => true }
      :javascript
        jQuery(document).ready(function(){
          jQuery.populateYearsFromSpexCategory(jQuery('#spex_spex_category_id').val(), 'spex_year')
        });
    - else
      = f.select :year, get_specific_spex_category_years(f.object.spex_category.id)
  - f.fields_for :spex_detail do |spex_detail_form|
    = render :partial => 'spex_detail_form', :locals => { :f => spex_detail_form }
