%div#spex-data
  - f.field_container :year do
    = f.label :year, t('activerecord.attributes.spex.year')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :year
    - if f.object.nil? || f.object.new_record?
      = f.select :year, [], { :disabled => true }
      :javascript
        jQuery(document).ready(function(){
          jQuery.populateYearsFromSpexCategory(jQuery('#spex_spex_detail_attributes_spex_category_id').val(), 'spex_year')
        });
    - else
      = f.select :year, get_specific_spex_category_years(f.object.spex_detail.spex_category.id)
  - f.fields_for :spex_detail_attributes do |spex_detail_form|
    = render :partial => 'spex_detail_form', :locals => { :f => spex_detail_form }
