<div id="spexDialog">
  <table>
    <tr>
      <td>
        <label for="spex_year"><%= t 'activerecord.attributes.spex.year' %></label>
      </td>
      <td>
        <%= form.text_field :year, :tabindex => 1, :size => 4, :maxlength => 4 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="spex_title"><%= t 'activerecord.attributes.spex.title' %></label>
      </td>
      <td>
        <%= form.text_field :title, :tabindex => 2, :maxlength => 50 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="spex_poster"><%= t 'activerecord.attributes.spex.poster' %></label>
      </td>
      <td>
        <%= form.file_field :poster, :tabindex => 3 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="spex_spex_category_id"><%= t 'activerecord.models.spex_category' %></label>
      </td>
      <td>
        <%= form.select :spex_category_id, get_spex_categories, :tabindex => 4 %>
      </td>
    </tr>
    <% if action == 'edit' %>
      <%= render :partial => '/shared/entity_details', :locals => { :entity => @spex } %>
      <tr>
        <td>
          <%= submit_tag("<%= t 'views.base.action_edit' %>", :tabindex => 5, :class => 'button') %>
          <input type="button" value="<%= t 'views.base.action_back' %>" class="button" tabindex="6" onclick="javascript:history.go(-1);"/>
          <input type="reset" value="<%= t 'views.base.action_reset' %>" class="button" tabindex="7"/>
        </td>
      </tr>
    <% else %>
      <tr>
        <td>
          <%= submit_tag("<%= t 'views.base.action_create' %>", :tabindex => 5, :class => 'button') %>
          <input type="reset" value="<%= t 'views.base.action_reset' %>" tabindex="6"/>
        </td>
      </tr>
    <% end %>
  </table>

<script>$("spex_year").focus();</script>

</div>

