%div
  - f.nested_field_container :title do
    = f.label :title, t('activerecord.attributes.spex_detail.title')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.nested_error_message_on :title
    = f.text_field :title, :class => 'fullwidth'
  - if @spex.spex_detail && @spex.spex_detail.poster?
    #current-poster
      = label_tag 'existing_poster', t('views.spex.current_poster')
      %br>
      = link_to(image_tag(@spex.spex_detail.poster.url(:thumb)), @spex.spex_detail.poster.url, :class => 'fancybox-single')
      %br>
      = link_to_remote icon_tag('remove') + ' ' + t('views.base.remove_action'), { :url => destroy_poster_spex_url(@spex), :method => :get, :before => '', :success => "jQuery('#current-poster').remove(); jQuery('#current-poster-separator').remove();" }
    %br#current-poster-separator>
  - f.nested_field_container :poster do
    = f.label :poster, t('activerecord.attributes.spex_detail.poster')
    %br>
    %small= t 'views.spex.poster_format_notice'
    %br>
    %small= t('views.spex.poster_size_notice', :max_size => ApplicationConfig.max_upload_size)
    %br>
    = f.nested_error_message_on :poster
    = f.file_field :poster
