= render :partial => 'administration/sub_menu'

.toolbar
  %ul.actions
    %li
      = button_link_to_remote t('views.spex.new_spex'), { :url => new_resource_url, :method => :get, :update => 'new-spex' }, :icon => 'add'

%h1= t 'views.spex.index_title', :action => t('views.base.listing_action')

#new-spex

- if @spex_items.empty?
  %p= t 'views.spex.no_spex_exist'
- else
  .number-of-hits= page_entries_info @spex_items, { :entry_translation_group_key => 'spex' }
  %table.index#spex
    %tr
      %th= order @search, :by => :year, :as => t('activerecord.attributes.spex.year')
      %th= order @search, :by => :title, :as => t('activerecord.attributes.spex.title')
      %th= order @search, :by => :is_revival, :as => t('activerecord.attributes.spex.is_revival')
      %th= order @search, :by => :spex_category_name, :as => t('activerecord.models.spex_category')
      %th.action-column= t 'views.base.action'
      - @spex_items.each do |spex|
        %tr{:id => dom_id(spex), :class => cycle('even', 'odd')}
          %td= h spex.year
          %td= h spex.title
          %td= translate_boolean spex.is_revival
          %td= h spex.spex_category.name
          %td.actions
            = link_to_view_action spex
            = link_to_edit_action spex
            = link_to_delete_action spex, { :table => 'spex' }

= will_paginate(@spex_items, :previous_label => "&#171; #{t('views.base.previous')}", :next_label => "#{t('views.base.next')} &#187;")           

= content_for :sidebar do 
  - form_for @search do |f|
    .box
      %h3= t 'views.base.search'
      %p
        %label= t('activerecord.attributes.spex.year') + ' (' + t('views.base.from') + ')'
        %br>
        = f.select :year_gte, get_spex_category_years, { :include_blank => true }
      %p
        %label= t('activerecord.attributes.spex.year') + ' (' + t('views.base.to') + ')'
        %br>
        = f.select :year_lte, get_spex_category_years, { :include_blank => true }
      %p
        %label= t 'activerecord.attributes.spex.title'
        %br>
        = f.text_field :title_contains, :size => 15
      %p
        %label= t 'activerecord.attributes.spex.is_revival'
        %br>
        = f.select :is_revival_equals, {'' => '', t('views.base.yes') => true, t('views.base.no') => false}
      %p
        %label= t 'activerecord.models.spex_category'
        %br>
        = f.select :spex_category_id_equals, get_available_spex_categories, { :include_blank => true }
      %p.form-buttons
        = button t('views.base.search')
