= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :description => @spex.spex_detail.title, :current_tab => 'spex_tab'}

#spex-data
  %table.show
    %tr
      %th= t 'activerecord.attributes.spex.year'
    %tr
      %td= h @spex.year
  
  %table.show
    %tr
      %th= t 'activerecord.attributes.spex_detail.title'
    %tr
      %td= h @spex.spex_detail.title
  
  %table.show
    %tr
      %th= t 'activerecord.attributes.spex_detail.spex_category'
    %tr
      %td= h @spex.spex_detail.spex_category.name
  
  %table.show
    %tr
      %th= t 'activerecord.attributes.spex_detail.poster'
    %tr
      - if @spex.spex_detail.poster?
        %td= link_to(image_tag(@spex.spex_detail.poster.url(:thumb)), @spex.spex_detail.poster.url, :class => 'fancybox-single')
      - else
        %td= t 'views.base.missing_image'
  
  = render :partial => '/shared/entity_details', :locals => {:entity => @spex}
  = render :partial => '/shared/back_links', :locals => { :url => filter_url_if_not_compatible_with(previous_page, collection_url) }
