= render :partial => 'sub_menu'

%h1= t 'views.function_category.page_title_html', :action => t('views.base.viewing_action'), :description => @function_category.name

%table.show
  %tr
    %th= t 'activerecord.attributes.function_category.name'
  %tr
    %td= h @function_category.name

%table.show
  %tr
    %th= t 'activerecord.attributes.function_category.has_actor'
  %tr
    %td= translate_boolean @function_category.has_actor

= render :partial => '/shared/entity_details', :locals => {:entity => @function_category}
= render :partial => '/shared/back_links', :locals => { :url => filter_url_if_not_compatible_with(previous_page, collection_url) }
