= render :partial => 'administration/sub_menu'

%h1= t 'views.function_category.page_title', :action => t('views.base.viewing_action')

%table.index
  %tr
    %th= t 'activerecord.attributes.function_category.name'
  %tr
    %td= h @function_category.name

%table.index
  %tr
    %th= t 'activerecord.attributes.function_category.has_actor'
  %tr
    %td= translate_boolean @function_category.has_actor

= render :partial => '/shared/entity_details', :locals => {:entity => @function_category}
