%h3= t 'views.cohabitant.add_cohabitant'

- if !@spexare.cohabitant.nil? && !@spexare.cohabitant.size == 1
  %p= t 'views.cohabitant.only_one_relation_allowed'
- else
  %small= t 'views.cohabitant.format_notice'
  %br>
  = hidden_field_tag :cohabitant_id
  = text_field_with_auto_complete :cohabitant, :full_name, { :class => 'fullwidth' }, { :url => spexare_index_path(:format => :js, 'search[id_not_equal_to]' => @spexare.id), :method => :get, :param_name => 'search[first_name_like_or_last_name_like_any]', :after_update_element => "function (inputField, selectedItem) { jQuery('#cohabitant_id').val(selectedItem.id); }" }
  = link_to_remote icon_tag('add') + ' ' + t('views.base.add_action'), { :controller => select_spexare_cohabitant_url(@spexare, TODO), :method => :get, :before => '', :update => 'selected-cohabitants' }