= render :partial => 'administration/sub_menu'

= render :partial => '/spexare/spexare_tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :current_tab => 'cohabitants_tab'}

- if @cohabitants.empty?
  %p= t 'views.cohabitant.no_associated_spexare'
- else
  %table.index
    %tr
      %th= t 'activerecord.attributes.spexare.last_name'
      %th= t 'activerecord.attributes.spexare.first_name'
      %th= t 'activerecord.attributes.spexare.nick_name'
      %th.action-column= t 'views.base.action'
      - @cohabitants.each do |cohabitant|
        %tr{:id => dom_id(cohabitant), :class => cycle('even', 'odd')}
          %td= h cohabitant.last_name
          %td= h cohabitant.first_name
          %td= h cohabitant.nick_name
          %td.actions
            = link_to_view_action cohabitant
