= render :partial => 'sub_menu'

%h1= t 'views.advanced_search.page_title'

- form_tag advanced_search_index_path, :method => :get do
  %p
    = text_field_tag 'query', nil, :class => 'fullwidth'
  %p.form-buttons
    = button t('views.base.search')

%p
  %h2= t 'views.advanced_search.query_syntax_help_title'
  = render :partial => 'query_syntax_help'

%p
  %h2= t 'views.advanced_search.field_names_help_title'
  = render :partial => 'field_names_help'
