%div
  - f.field_container :name do
    = f.label :name, t('activerecord.attributes.spex_category.name')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :name
    = f.text_field :name, :class => 'fullwidth'
  - f.field_container :first_year do
    = f.label :first_year, t('activerecord.attributes.spex_category.first_year')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :first_year
    = f.select :first_year, get_spex_category_years
  - f.field_container :logo do
    = f.label :logo, t('activerecord.attributes.spex_category.logo')
    - if @spex_category.logo?
      %br>
      %small= t 'views.spex_category.current_logo'
      %br>
      = link_to(image_tag(@spex_category.logo.url(:thumb)), @spex_category.logo.url, :class => 'fancybox-single')
    %br>
    %small= t 'views.spex_category.logo_format_notice'
    %br>
    %small= t('views.spex_category.logo_size_notice', :max_size => ApplicationConfig.max_upload_size)
    %br>
    = f.error_message_on :logo
    = f.file_field :logo
