%div
  - f.field_container :name do
    = f.label :name, t('activerecord.attributes.spex_category.name')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :name
    = f.text_field :name, :class => 'fullwidth'
  - f.field_container :first_year do
    = f.label :first_year, t('activerecord.attributes.spex_category.first_year')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :first_year
    = f.select :first_year, get_spex_category_years
  - if @spex_category.logo?
    #current-logo
      = label_tag 'existing_logo', t('views.spex_category.current_logo')
      %br>
      = link_to(image_tag(@spex_category.logo.url(:thumb)), @spex_category.logo.url, :class => 'fancybox-single')
      %br>
      - if !@spex_category.new_record?
        = link_to_remote icon_tag('remove') + ' ' + t('views.base.remove_action'), { :url => destroy_logo_spex_category_url(@spex_category), :method => :get, :before => '', :success => "jQuery('#current-logo').remove(); jQuery('#current-logo-separator').remove();" }
      - elsif
        = link_to_function icon_tag('remove') + ' ' + t('views.base.remove_action'), "jQuery('#current-logo').remove(); jQuery('#current-logo-separator').remove();"
    %br#current-logo-separator>
  - f.field_container :logo do
    = f.label :logo, t('activerecord.attributes.spex_category.logo')
    %br>
    %small= t 'views.spex_category.logo_format_notice'
    %br>
    %small= t('views.spex_category.logo_size_notice', :max_size => ApplicationConfig.max_upload_size)
    %br>
    = f.error_message_on :logo
    = f.file_field :logo
