= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :description => @spexare.full_name, :current_tab => 'activities_tab'}

- if @activities.empty?
  %p= t 'views.activity.no_associated_activities'
- else
  .number-of-hits= page_entries_info @activities, { :entry_translation_group_key => 'activity' }
  %br.clear
  %table.index
    %tr
      %th= t 'activerecord.attributes.spex.year'
      %th= t 'activerecord.attributes.spex_detail.title'
      %th= t 'activerecord.attributes.spex.is_revival'
      %th= t 'activerecord.models.function'
      %th= t 'activerecord.models.spex_category'
      - @activities.each do |activity|
        %tr{:class => cycle('even', 'odd')}
          %td= h activity.spex.year
          - if activity.spex.spex_detail.poster?
            %td= link_to_open(activity.spex.spex_detail.title, activity.spex.spex_detail.poster.url, :class => 'fancybox-single')
          - else
            %td= h activity.spex.spex_detail.title
          %td= translate_boolean activity.spex.is_revival?
          %td
            - activity.function_activities.first(ApplicationConfig.activities_per_row).each do |function_activity|
              = h function_activity.function.name
              %br>
              - if !function_activity.actors.empty?
                - function_activity.actors.each do |actor|
                  - if !actor.role.empty?
                    != whitespace(4) + t('activerecord.attributes.actor.role') + ': ' + h(actor.role)
                    %br>
                  - if !actor.vocal.nil?
                    != whitespace(4) + t('activerecord.attributes.actor.vocal_id') + ': ' + h(Actor.vocal(actor.vocal_id).title) unless actor.vocal.nil?
                    %br>
            = link_to '... ' + t('views.base.view_more'), spexare_activity_url(@spexare, activity), :class => 'fancybox-text' if activity.function_activities.size > ApplicationConfig.activities_per_row
          - if activity.spex.spex_category.logo?
            %td= link_to_open(activity.spex.spex_category.name, activity.spex.spex_category.logo.url, :class => 'fancybox-single')
          - else
            %td= h activity.spex.spex_category.name

= will_paginate(:previous_label => "&#171; #{t('views.base.previous')}", :next_label => "#{t('views.base.next')} &#187;")           
= render :partial => '/shared/per_page', :locals => { :size => @activities.total_entries }

= render :partial => '/shared/back_links', :locals => { :url => previous_page }
