= render :partial => 'administration/sub_menu'

= render :partial => '/spexare/spexare_tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :current_tab => 'activities_tab'}

- if @activities.empty?
  %p= t 'views.activity.no_associated_activities'
- else
  %table.index
    %tr
      %th{:colspan => '2'}= t 'activerecord.models.spex'
      %th{:colspan => '3'}= t 'activerecord.models.function'
    %tr
      %th= t 'activerecord.attributes.spex.year'
      %th= t 'activerecord.attributes.spex.title'
      %th= t 'activerecord.attributes.function.name'
      %th= t 'activerecord.attributes.actor.role'
      %th= t 'activerecord.attributes.actor.vocal_id'
      - @activities.each do |activity|
        %tr{:class => cycle('even', 'odd')}
          %td= TODO
