= render :partial => 'administration/sub_menu'

= render :partial => '/spexare/spexare_tabs', :locals => {:edit_mode => false, :current_action => t('views.base.viewing_action'), :current_tab => 'activities_tab'}

- if @activities.empty?
  %p= t 'views.activity.no_associated_activities'
- else
  %table.index
    %tr
      %th= t 'activerecord.models.spex_category'
      %th= t 'activerecord.attributes.spex.year'
      %th= t 'activerecord.attributes.spex.title'
      %th.action-column= t 'views.base.action'
      - @activities.each do |activity|
        %tr{:class => cycle('even', 'odd')}
          %td= h activity.spex.spex_category.name
          %td= h activity.spex.year
          %td= h activity.spex.title
          %td.actions
            = link_to icon_tag('view') + ' ' + t('views.base.view_action'), activity, :class => 'fancybox-text'
