#export
  %h2= t "views.report.#{params[:report]}.title"
  - form_remote_tag :url => reports_url(:report => params[:report]) do
    - if @report.has_conditions?
      %fieldset
        %legend= t 'views.report.conditions'
        = render :partial => "#{params[:report]}_conditions"
    %fieldset
      %legend= t 'views.report.formats'
      - @report.formats.each_with_index do |format, i|
        = radio_button_tag('report_format', "#{format.downcase}", i == 0 ? true : false)
        != t("views.report.format.#{format.downcase}") + ' ' + icon_tag(format.downcase)
        %br>
    .right
      = submit_tag 'Skapa', :class => 'button'
  