#export
  %h2= t "views.report.#{params[:report]}.title"
  - form_tag reports_path do
    = hidden_field_tag 'report', params[:report]
    = hidden_field_tag 'id', params[:id]
    - if @report.has_conditions?
      %fieldset
        %legend= t 'views.report.conditions'
        = render :partial => "#{params[:report]}_conditions"
    - if @report.has_sort_order?
      %fieldset
        %legend= t 'views.report.sort_order'
        = render :partial => "#{params[:report]}_sort_order"
    %fieldset
      %legend= t 'views.report.formats'
      - @report.formats.each_with_index do |format, i|
        = radio_button_tag('format', "#{format.downcase}", i == 0 ? true : false)
        != t("views.report.format.#{format.downcase}") + ' ' + icon_tag(format.downcase)
        %br>
    .right
      = submit_tag t('views.base.create_action'), :class => 'button'
      = button_to_function t('views.base.cancel_action'), 'jQuery.fancybox.close()', :class => 'button'
.span-10
