!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "#{I18n.locale}", :lang => "#{I18n.locale}"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "application/xhtml+xml;charset=UTF-8"}
    %title= t 'views.base.title'
    = stylesheet_link_merged :screen, :media => "screen, projection"
    /[if lt IE 8]
      = stylesheet_link_merged :ie, :media => "screen, projection"
    = stylesheet_link_merged :print, :media => "print"
    %link{:rel => "icon", :href => "favicon.ico", :type => "image/x-icon"}
    %link{:rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}
  %body
    .container
      = render :partial => '/shared/header'
      = render :partial => '/shared/menu'
      #content{:class => ("with-sidebar" unless @content_for_sidebar.blank?)}
        = render :partial => '/shared/flashes'
        = yield
        - unless @content_for_sidebar.blank?
          #sidebar
            = yield :sidebar
      = render :partial => '/shared/footer'
  = javascript_include_merged :base
  = javascript_tag '$ = jQuery;'
  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  - current_language = I18n.locale.index('-').nil? ? I18n.locale : I18n.locale.split('-')[0]
  = javascript_include_tag "i18n/#{current_language}.js"
  = javascript_include_tag "datepicker/lang/#{current_language}.js"
  