#signup
  %h1= t 'views.account.signup_title'
  = error_messages_for :user, :header_message => nil
  %p
    = t 'views.account.signup_instructions'
  - form_tag account_path do
    = negative_captcha(@captcha)
    %p
      = label_tag :full_name, t('activerecord.attributes.other.full_name')
      %br>
      = negative_text_field_tag @captcha, :full_name
    %p
      = label_tag :username, t('activerecord.attributes.user.username')
      %br>
      = negative_text_field_tag @captcha, :username
    %p
      = label_tag :password, t('activerecord.attributes.user.password')
      %br>
      = negative_password_field_tag @captcha, :password
    %p
      = label_tag :password_confirmation, t('activerecord.attributes.user.password_confirmation')
      %br>
      = negative_password_field_tag @captcha, :password_confirmation
    %p
      = label_tag :description, t('activerecord.attributes.other.description')
      %small= t('views.account.signup_description_note') 
      %br>
      = negative_text_area_tag @captcha, :description
    %p
      = submit_tag t('views.account.create_my_account'), :class => 'button'
      = t('views.base.or')
      = link_to t('views.base.cancel_action'), login_url
